<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>关于我们</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="description" content="" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link rel="stylesheet" href="{pboot:sitetplpath}/layui/css/layui.css">
  <link rel="stylesheet" href="{pboot:sitetplpath}/css/about.css">
  <link rel="stylesheet" href="{pboot:sitetplpath}/css/mobile.css" media="screen and (max-width: 800px)">
  <script>
    (function (window, document) {
      function resize() {
        var ww = window.innerWidth;
        if (ww > window.screen.width) {
          window.requestAnimationFrame(resize);
        } else {
          if (ww > 1920) ww = 1920;
          // 下面代码按照比例为100px = 1rem，此处一定要同pxToRem的转换比例
          document.documentElement.style.fontSize = ww * 100 / 1920 + 'px';
        }
      }
      if (document.readyState !== 'loading') {
        resize();
      } else {
        document.addEventListener('DOMContentLoaded', resize);
      }
      window.addEventListener('resize', resize);
    })(window, document);
  </script>
</head>

<body>
  <!-- 低版本浏览器提示 -->
  <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
  <!-- 正文开始 -->
  {include file=common/top.html}
  <!-- end top-->
  <div class="container">
    <!-- about-us-banner -->
    <div class="us-banner-box">
      <span>{content:ext_en}</span>
      <p>{content:title}</p>
    </div>
    <div class="us-container">
      <div class="us-info-title">
        <!-- {content:title} -->
        公司简介
      </div>
      <!-- <div class="us-edit-content">
        示例内容
        {content:content}
      </div> -->
      <div class="us-edit-content">
        <span class='focus-text'>起源于2005年，从业十三年以来服务超3万户家庭，推荐就业超5万人次。</span>致力于打造专业化，精细化家庭服务体系。旗下包含：高端月嫂培训。小班教学，老师一对一辅导。另外开放了网络培训班，可以在线学习课程，让距离不再成为学习的阻碍。
        <br>
        <br>
        公司始终坚持“为广大女性提供更多就业机会，为更多家庭提供专业高品质服务”为使命，希望每一位进入兰百合的学员都能“改变人生，做自信女人！”
        旗下设有兰百合职业培训中心，兰百合是一家以高端家政培训和高端家庭服务为主营业务的品牌企业。公司成立近14年，累计开展母婴培训480余期，学员就业率高。
        <br>
        <br>
        2008年9月，兰百合被长沙家政协会评为诚信单位
        2010年6月，兰百合被湖南协会评为家政行业最受信赖单位。
        2016年2月， 兰百合被中国妇幼保健协会评为“金牌月嫂”推荐单位。
        2017年12月，兰百合被湖南省家庭服务协会评为诚信服务先进单位。
        <br>
        <br>
        公司始终坚持<span class='focus-text'>“为广大女性提供更多就业机会，为更多家庭提供专业高品质服务”</span>为使命，希望每一位进入兰百合的学员都能<span class='focus-text'>“改变人生，做自信女人！”</span>
        <br>
        <br>
        <img src="{pboot:sitetplpath}/images/us-01.jpg" alt="" class='us-edit-img full-img'>
        <div class='layui-row layui-col-space30'>
          <div class="layui-col-xs6 us-img-01">
            <img src="{pboot:sitetplpath}/images/us-02.jpg" alt="" class='us-edit-img layui-inline'>
          </div>
          <div class="layui-col-xs6 us-img-02">
            <img src="{pboot:sitetplpath}/images/us-03.jpg" alt="" class='us-edit-img layui-inline'>
          </div>
        </div>
      </div>
    </div>
    <!-- 地图和联系方式 -->
    <div class="address-box">
      <div class="address-img layui-hide-xs">

      </div>
      <img src="{pboot:sitetplpath}/images/address-map.png" alt="" class="layui-hide-sm">
      <div class="company-info-box">
        <p class="info-title">长沙兰百合家庭服务有限公司</p>
        <ul>
          <li>
            <i class="info-item-icon icon-tel"></i>
            <p class="info-item-text">
              服务热线：0731-83387873
            </p>
          </li>
          <li>
            <i class="info-item-icon icon-loc"></i>
            <p class="info-item-text">
              长沙市岳麓区银盆南路20号<br>溁湾镇新外滩
            </p>
          </li>
          <li>
            <i class="info-item-icon icon-phone"></i>
            <p class="info-item-text">
              客户专线：15211039800
            </p>
          </li>
          <li>
            <i class="info-item-icon icon-email"></i>
            <p class="info-item-text">
              电子邮箱：02250980@qq.com
            </p>
          </li>
          <li>
            <i class="info-item-icon icon-www"></i>
            <p class="info-item-text">
              官方网站：http://www.lbh888.com
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- footer -->
  {include file=common/foot.html}