<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>兰百合家政培训</title>
  <meta name="description" content="" />
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link rel="stylesheet" href="{pboot:sitetplpath}/layui/css/layui.css">
  <link rel="stylesheet" href="{pboot:sitetplpath}/css/test.css">
  <link rel="stylesheet" href="{pboot:sitetplpath}/css/mobile.css" media="screen and (max-width: 800px)">
  <script>
      (function (window, document) {
          function resize() {
              var ww = window.innerWidth;
              if (ww > window.screen.width) {
                  window.requestAnimationFrame(resize);
              } else {
                  if (ww > 1366) ww = 1366;
                  // 下面代码按照比例为100px = 1rem，此处一定要同pxToRem的转换比例
                  document.documentElement.style.fontSize = ww * 100 / 1366 + 'px';
              }
          }
          if (document.readyState !== 'loading') {
              resize();
          } else {
              document.addEventListener('DOMContentLoaded', resize);
          }
          window.addEventListener('resize', resize);
      })(window, document);
  </script>
</head>

<body>
<!-- 低版本浏览器提示 -->
<!--[if lt IE 7]>
<p class="browsehappy">
  You are using an <strong>outdated</strong> browser. Please
  <a href="#">upgrade your browser</a> to improve your experience.
</p>
<![endif]-->
<!-- 正文开始 -->
{include file=common/top.html}
<!-- end top-->
  <div class="container">
    <div class="layui-carousel carousel-box" id="carousel">
      <div carousel-item>
        {pboot:slide num=5 gid=1}
        <div><img src="[slide:src]" alt=""></div>
        {/pboot:slide}
      </div>
    </div>
    <!-- 培训项目 -->
    <div class="project-box">
      <div class="project-title-new">
        <p class='project-title-mintext'><span>Training Project</span></p>
        <p class='project-title  g-bg'>培训项目</p>
      </div>
      <fieldset class="layui-elem-field layui-field-title project-info">
        <legend>为什么选择我们</legend>
      </fieldset>
      <div class="project-info-box layui-row">
        <div class="layui-col-md4 info-item">
          <div class="nums-text">1</div>
          <span class="item-title">时间自由</span>
          <hr class="item-line">
          <p>
            学习时间自由，随到随学， 更设有网络班，远程学习。
          </p>
        </div>
        <div class="layui-col-md4 info-item">
          <div class="nums-text">2</div>
          <span class="item-title">师资雄厚</span>
          <hr class="item-line">
          <p>
            师资力量雄厚，教学老师经验 丰富，专业细心，包教包会。
          </p>
        </div>
        <div class="layui-col-md4 info-item">
          <div class="nums-text">3</div>
          <span class="item-title">就业保障</span>
          <hr class="item-line">
          <p>
            就业渠道广阔，终身推荐工作， 就业学员遍布全国各地。
          </p>
        </div>
      </div>
      <p class="info-slogan">
        十五年家政行业经验，口碑好，老品牌，更放心。根据个人情况量身打造晋升途径，教您更快提升收入。
      </p>
      <fieldset class="layui-elem-field layui-field-title project-content-title">
        <legend>您想要的都有</legend>
      </fieldset>
      <!-- project-content -->
      <div class="project-content layui-row">
        <div class="content-item">
          <img src="{pboot:sitetplpath}/images/content-1.jpg" alt="">
          <p>月嫂培训</p>
        </div>
        <div class="content-item">
          <img src="{pboot:sitetplpath}/images/content-2.jpg" alt="">
          <p>育婴师培训</p>
        </div>
        <div class="content-item">
          <img src="{pboot:sitetplpath}/images/content-3.jpg" alt="">
          <p>催乳师培训</p>
        </div>
        <div class="content-item">
          <img src="{pboot:sitetplpath}/images/content-4.jpg" alt="">
          <p>小儿推拿师培训</p>
        </div>
        <div class="content-item">
          <img src="{pboot:sitetplpath}/images/content-5.jpg" alt="">
          <p>护工培训</p>
        </div>
        <div class="content-item">
          <img src="{pboot:sitetplpath}/images/content-6.jpg" alt="">
          <p>整理收纳师培训</p>
        </div>
        <div class="content-item">
          <img src="{pboot:sitetplpath}/images/content-7.jpg" alt="">
          <p>保姆培训</p>
        </div>
        <div class="content-item">
          <img src="{pboot:sitetplpath}/images/content-8.jpg" alt="">
          <p>保洁培训</p>
        </div>
      </div>
    </div>
    <!-- server-box -->
    <div class="server-box">
      <div class="project-title-new">
        <p class='project-title-mintext'><span>Service Content</span></p>
        <p class='project-title ff-bg'>服务项目</p>
      </div>
      <!-- server-tab -->
      <div class="layui-tab layui-tab-brief server-tab" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title tab-title-box">
          <li>母婴服务</li>
          <li class="layui-this">家政服务</li>
          <li>高端家政服务</li>
        </ul>
        <div class="layui-tab-content">
          <!-- 母婴服务 -->
          <div class="layui-tab-item item-box ">
            <div class="server-item-info">
              <img src="{pboot:sitetplpath}/images/server-4.jpg" alt="">
              <div class='server-item-blank'>
                <p class="title">月嫂服务</p>
                <p class="server-info-text">
                  32种专业技能、星级月子餐、统一培训、规范化管理、技能专业、性格和善。
                </p>
              </div>
            </div>
            <div class="server-item-info">
              <img src="{pboot:sitetplpath}/images/server-5.jpg" alt="">
              <div class='server-item-blank'>
                <p class="title">育婴师</p>
                <p class="server-info-text">
                  32种专业技能、辅食制作、早教游戏、统一培训、规范管理、技能专业。
                </p>
              </div>
            </div>
            <div class="server-item-info">
              <img src="{pboot:sitetplpath}/images/server-6.png" alt="">
              <div class='server-item-blank'>
                <p class="title">催乳师</p>
                <p class="server-info-text">
                  24种专业手法、解决12大催乳问题、技能专业。
                </p>
              </div>
            </div>
          </div>
          <!-- 家政服务 -->
          <div class="layui-tab-item item-box layui-show">
            <div class="server-item-info">
              <img src="{pboot:sitetplpath}/images/server-1.png" alt="">
              <div class='server-item-blank'>
                <p class="title">护工</p>
                <p class="server-info-text">
                  24种专业技能、统一培训、医院实习、规范化管理、专业照顾病人/老人。
                </p>
              </div>
            </div>
            <div class="server-item-info">
              <img src="{pboot:sitetplpath}/images/server-2.jpg" alt="">
              <div class='server-item-blank'>
                <p class="title">保洁</p>
                <p class="server-info-text">
                  全屋6区40项打扫、统一培训、专业稳定、标准工序、追求细节。
                </p>
              </div>
            </div>
            <div class="server-item-info">
              <img src="{pboot:sitetplpath}/images/server-3.jpg" alt="">
              <div class='server-item-blank'>
                <p class="title">保姆</p>
                <p class="server-info-text">
                  家务精细、做饭好吃、不满意随时更换。
                </p>
              </div>
            </div>
          </div>
          <!-- 高端家政服务 -->
          <div class="layui-tab-item item-box">
            <div class="server-item-info">
              <img src="{pboot:sitetplpath}/images/server-7.jpg" alt="">
              <div class='server-item-blank'>
                <p class="title">全屋整理</p>
                <p class="server-info-text">
                  23种专业技能、收纳空间规划、酒店式服务、专业收纳工具。
                </p>
              </div>
            </div>
            <div class="server-item-info">
              <img src="{pboot:sitetplpath}/images/server-8.jpg" alt="">
              <div class='server-item-blank'>
                <p class="title">私人订制</p>
                <p class="server-info-text">
                  根据客户喜好、量身打造服务方案、精细服务。
                </p>
              </div>
            </div>
            <div class="server-item-info">
              <img src="{pboot:sitetplpath}/images/server-9.png" alt="">
              <div class='server-item-blank'>
                <p class="title">涉外家政</p>
                <p class="server-info-text">
                  提供出国保姆、月嫂、育婴师一站式服务、真心真情、专心专业。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- video-box -->
    <div class="video-box">
      <div class="project-title-new ">
        <p class='project-title-mintext'><span>Online Video</span></p>
        <p class='project-title g-bg'>线上视频</p>
      </div>
      <div class="video-content-box">
        <div class="video-container" id='video'>
        </div>
        <div class="video-list">
          <div class="video-list-title">
            <p class="title">视频介绍</p>
            <p class='title-text'>
              兰百合月嫂培训实录，会有可的是 能吗？也许，现在不可能回答。如 我也许知道更多。
            </p>
          </div>
          <div class="video-item-box">
            <div class="video-item active">
              <img src="{pboot:sitetplpath}/images/video-item.png" alt="">
              <p>兰百合月嫂 培训</p>
            </div>
            <div class="video-item">
              <img src="{pboot:sitetplpath}/images/video-item.png" alt="">
              <p>兰百合保姆 培训实录</p>
            </div>
            <div class="video-item">
              <img src="{pboot:sitetplpath}/images/video-item.png" alt="">
              <p>兰百合家政 培训实录</p>
            </div>
            <div class="video-item">
              <img src="{pboot:sitetplpath}/images/video-item.png" alt="">
              <p>兰百合育婴 师培训实录</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- teacher-box -->
    <div class="teacher-box">
      <div class="project-title-new">
        <p class='project-title-mintext'><span>Our Teacher</span></p>
        <p class='project-title ff-bg'>师资力量</p>
      </div>
      <div class="teacher-content">
        <div class='teacher-item'>
          <img src="{pboot:sitetplpath}/images/teacher.png" alt="">
          <div class="teacher-info">
            <p class="t-name">兰老师</p>
            <p class="t-text">
              1989年12月13日出生于美国宾夕法尼亚州，美国流行音乐、乡村音乐创作型女歌手、音乐制作人、演员、慈善家。是2009认证7倍
            </p>
            <div class="t-btn">了解更多</div>
          </div>
        </div>
        <div class='teacher-item'>
          <img src="{pboot:sitetplpath}/images/teacher.png" alt="">
          <div class="teacher-info">
            <p class="t-name">兰老师</p>
            <p class="t-text">
              1989年12月13日出生于美国宾夕法尼亚州，美国流行音乐、乡村音乐创作型女歌手、音乐制作人、演员、慈善家。是2009认证7倍
            </p>
            <div class="t-btn">了解更多</div>
          </div>
        </div>
        <div class='teacher-item'>
          <img src="{pboot:sitetplpath}/images/teacher.png" alt="">
          <div class="teacher-info">
            <p class="t-name">兰老师</p>
            <p class="t-text">
              1989年12月13日出生于美国宾夕法尼亚州，美国流行音乐、乡村音乐创作型女歌手、音乐制作人、演员、慈善家。是2009认证7倍
            </p>
            <div class="t-btn">了解更多</div>
          </div>
        </div>
        <div class='teacher-item'>
          <img src="{pboot:sitetplpath}/images/teacher.png" alt="">
          <div class="teacher-info">
            <p class="t-name">兰老师</p>
            <p class="t-text">
              1989年12月13日出生于美国宾夕法尼亚州，美国流行音乐、乡村音乐创作型女歌手、音乐制作人、演员、慈善家。是2009认证7倍
            </p>
            <div class="t-btn">了解更多</div>
          </div>
        </div>
        <div class='teacher-item'>
          <img src="{pboot:sitetplpath}/images/teacher.png" alt="">
          <div class="teacher-info">
            <p class="t-name">兰老师</p>
            <p class="t-text">
              1989年12月13日出生于美国宾夕法尼亚州，美国流行音乐、乡村音乐创作型女歌手、音乐制作人、演员、慈善家。是2009认证7倍
            </p>
            <div class="t-btn">了解更多</div>
          </div>
        </div>
      </div>
    </div>
    <!-- student-box -->
    <div class="student-box">
      <div class="project-title-new">
        <p class='project-title-mintext'><span>Outstanding Student</span></p>
        <p class='project-title g-bg'>优秀案例</p>
      </div>
      <div class="student-content">
        <div class="student-item">
          <div class="student-card">
            <img class='student-head' src="{pboot:sitetplpath}/images/teacher.png" alt="">
            <div class="student-info">
              <p class="student-name">王大丽</p>
              <p class="student-text">年龄45岁，籍贯宁乡2018年在长沙兰百合学习月嫂育婴师课程，得到数次客户好评，目前薪资<b class='student-money'>4500</b></p>
            </div>
          </div>
          <div class="out-bg">
            <p>参加护工培训</p>
          </div>
        </div>
        <div class="student-item">
          <div class="student-card">
            <img class='student-head' src="{pboot:sitetplpath}/images/teacher.png" alt="">
            <div class="student-info">
              <p class="student-name">王大丽</p>
              <p class="student-text">年龄45岁，籍贯宁乡2018年在长沙兰百合学习月嫂育婴师课程，得到数次客户好评，目前薪资<b class='student-money'>4500</b></p>
            </div>
          </div>
          <div class="out-bg">
            <p>参加月嫂培训</p>
          </div>
        </div>
        <div class="student-item">
          <div class="student-card">
            <img class='student-head' src="{pboot:sitetplpath}/images/teacher.png" alt="">
            <div class="student-info">
              <p class="student-name">王大丽</p>
              <p class="student-text">年龄45岁，籍贯宁乡2018年在长沙兰百合学习月嫂育婴师课程，得到数次客户好评，目前薪资<b class='student-money'>4500</b></p>
            </div>
          </div>
          <div class="out-bg">
            <p>参加育婴师培训</p>
          </div>
        </div>
        <div class="student-item">
          <div class="student-card">
            <img class='student-head' src="{pboot:sitetplpath}/images/teacher.png" alt="">
            <div class="student-info">
              <p class="student-name">王大丽</p>
              <p class="student-text">年龄45岁，籍贯宁乡2018年在长沙兰百合学习月嫂育婴师课程，得到数次客户好评，目前薪资<b class='student-money'>4500</b></p>
            </div>
          </div>
          <div class="out-bg">
            <p>参加保姆培训</p>
          </div>
        </div>
        <div class="student-item">
          <div class="student-card">
            <img class='student-head' src="{pboot:sitetplpath}/images/teacher.png" alt="">
            <div class="student-info">
              <p class="student-name">王大丽</p>
              <p class="student-text">年龄45岁，籍贯宁乡2018年在长沙兰百合学习月嫂育婴师课程，得到数次客户好评，目前薪资<b class='student-money'>4500</b></p>
            </div>
          </div>
          <div class="out-bg">
            <p>参加保洁培训</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
{include file=common/foot.html}