<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>月嫂培训</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="description" content="" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link rel="stylesheet" href="{pboot:sitetplpath}/layui/css/layui.css">
  <link rel="stylesheet" href="{pboot:sitetplpath}/css/server.css">
  <link rel="stylesheet" href="{pboot:sitetplpath}/css/mobile.css" media="screen and (max-width: 800px)">
  <script>
    var rootSize
    if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
      rootSize = 1366
    } else {
      rootSize = 1920
    }
    (function (window, document) {
      function resize() {
        var ww = window.innerWidth;
        if (ww > window.screen.width) {
          window.requestAnimationFrame(resize);
        } else {
          if (ww > rootSize) ww = rootSize;
          // 下面代码按照比例为100px = 1rem，此处一定要同pxToRem的转换比例
          document.documentElement.style.fontSize = ww * 100 / rootSize + 'px';
        }
      }
      if (document.readyState !== 'loading') {
        resize();
      } else {
        document.addEventListener('DOMContentLoaded', resize);
      }
      window.addEventListener('resize', resize);
    })(window, document);
  </script>
</head>

<body>
  <!-- 低版本浏览器提示 -->
  <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
  <!-- 正文开始 -->
  {include file=common/top.html}
  <!-- end top-->
  <!-- about-us-banner -->
  <div class="server-banner-box">
    <span>Service</span>
    <p>服务内容</p>
  </div>
  <div class="server-container">
    <!-- server-nav -->
    <div class="server-nav-new">
      <div class='server-nav-item-box'>
        <div class='nav-item active'>
          <div class="bg-box"></div>
          <img class='item-img' src="{pboot:sitetplpath}/images/server-1.png" alt="">
          <div class="item-info-box">
            <img src="{pboot:sitetplpath}/images/server-icon-1.png" alt="" class='item-icon icon-1'>
            <p class='item-name'>月嫂</p>
          </div>
        </div>
        <div class="block-box"></div>
        <div class='nav-item'>
          <div class="bg-box"></div>
          <img class='item-img' src="{pboot:sitetplpath}/images/server-1.png" alt="">
          <div class="item-info-box">
            <img src="{pboot:sitetplpath}/images/server-icon-2.png" alt="" class='item-icon icon-2'>
            <p class='item-name'>育婴师</p>
          </div>
        </div>
        <div class="block-box"></div>
        <div class='nav-item'>
          <div class="bg-box"></div>
          <img class='item-img' src="{pboot:sitetplpath}/images/server-1.png" alt="">
          <div class="item-info-box">
            <img src="{pboot:sitetplpath}/images/server-icon-3.png" alt="" class='item-icon icon-3'>
            <p class='item-name'>催乳师</p>
          </div>
        </div>
        <div class="block-box"></div>
        <div class='nav-item'>
          <div class="bg-box"></div>
          <img class='item-img' src="{pboot:sitetplpath}/images/server-1.png" alt="">
          <div class="item-info-box">
            <img src="{pboot:sitetplpath}/images/server-icon-4.png" alt="" class='item-icon icon-4'>
            <p class='item-name'>保姆</p>
          </div>
        </div>
        <div class="block-box"></div>
        <div class='nav-item'>
          <div class="bg-box"></div>
          <img class='item-img' src="{pboot:sitetplpath}/images/server-1.png" alt="">
          <div class="item-info-box">
            <img src="{pboot:sitetplpath}/images/server-icon-5.png" alt="" class='item-icon icon-5'>
            <p class='item-name'>保洁</p>
          </div>
        </div>
      </div>
      <!-- 第二行 -->
      <div class='server-nav-item-box second-box'>
        <div class='nav-item'>
          <div class="bg-box"></div>
          <img class='item-img' src="{pboot:sitetplpath}/images/server-1.png" alt="">
          <div class="item-info-box">
            <img src="{pboot:sitetplpath}/images/server-icon-6.png" alt="" class='item-icon icon-6'>
            <p class='item-name'>护工</p>
          </div>
        </div>
        <div class="block-box"></div>
        <div class='nav-item'>
          <div class="bg-box"></div>
          <img class='item-img' src="{pboot:sitetplpath}/images/server-1.png" alt="">
          <div class="item-info-box">
            <img src="{pboot:sitetplpath}/images/server-icon-7.png" alt="" class='item-icon icon-7'>
            <p class='item-name'>涉外家政</p>
          </div>
        </div>
        <div class="block-box"></div>
        <div class='nav-item'>
          <div class="bg-box"></div>
          <img class='item-img' src="{pboot:sitetplpath}/images/server-1.png" alt="">
          <div class="item-info-box">
            <img src="{pboot:sitetplpath}/images/server-icon-8.png" alt="" class='item-icon icon-8'>
            <p class='item-name'>私人订制</p>
          </div>
        </div>
        <div class="block-box"></div>
        <div class='nav-item'>
          <div class="bg-box"></div>
          <img class='item-img' src="{pboot:sitetplpath}/images/server-1.png" alt="">
          <div class="item-info-box">
            <img src="{pboot:sitetplpath}/images/server-icon-9.png" alt="" class='item-icon icon-9'>
            <p class='item-name'>全屋整理</p>
          </div>
        </div>
      </div>
    </div>
    <!-- server-detail-box -->
    <div class="server-detail-box yuesao">
      <div class='yuesao-detail-container'>
        <p class="server-detail-title">兰百合月嫂服务星级价格</p>
        <table class="layui-table" lay-skin='nob'>
          <colgroup>
            <col width="80rem">
            <col width="57rem">
            <col width="335rem">
            <col width="160rem">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>级别</th>
              <th>价格</th>
              <th>服务内容</th>
              <th>增加专业服务技能</th>
              <th>客户好评次数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>普通</td>
              <td class='money-td'>5800</td>
              <td>新生儿生活照料：健康数据管理、夜间照料、沐浴、脐带护理、大小便观察、红臀预防和护理、婴儿房间用品清洁。抚触、黄疸、湿疹护理。产妇专业护理：产妇恶露观察以及消毒、母乳喂养指导。</td>
              <td>/</td>
              <td>0～3次</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class='server-padding-box'> -->
    <!-- <div class="server-nav">
        <p class="nav-line"></p>
        <ul class='server-nav-box'>
          <li class="nav-title">月嫂培训</li>
          <li class='active nav-item'>保姆</li>
          <li class='nav-item'>护工</li>
          <li class='nav-item'>保洁</li>
          <li class="nav-title">家政服务</li>
          <li class='nav-item'>月嫂</li>
          <li class='nav-item'>催乳师</li>
          <li class='nav-item'>育婴师</li>
          <li class="nav-title">高端家政服务</li>
          <li class='nav-item'>全屋整理</li>
          <li class='nav-item'>私人订制</li>
          <li class='nav-item'>涉外家政</li>
        </ul>
      </div> -->
    <!-- <div class="server-content">
        <div class="server-text-box">
          <p class="server-title">
            保姆
            <span class="title-line"></span>
          </p>
          <p class="server-detail">
            是指能为孕妇、产妇、哺乳期妇女、新生儿不同时期提供生活保健、身体保健、卫生保健等健康管理、保健服务的专业人员。能从保健的角度为孕产妇和新生儿提供常见，熟练掌握母婴护理的基本技能与方法。
            最新统计数字表明，我国每年有接近2000万新妈妈和新生儿，这些产妇中有40%以上需要聘请星级月嫂的高品质照护，母婴保健市场潜力巨大；
            据不完全预测，全国需要月嫂800多万人，而现有实际从业人员——保姆，只能提供普通的生活照护，不能满足新妈妈为追求心身保健而指导与服务的高端需 求；
            在一个中等城市其数量少于5人，95%以上的县级地区专业月嫂数量基本为零，全国母婴保健市场一片空白专业月嫂缺乏，市场需求十分巨大，行业发展后劲无穷。
            基于此，人力资源和社会保障部中国就业促进会，面向全国开展月嫂职业培训。
          </p>
        </div>
        <div class="server-img" id='serverImg'>
          <img class='icon-server layui-hide-xs' src="{pboot:sitetplpath}/images/server-detail-icon.png" alt="">
        </div>
      </div> -->
    <!-- </div> -->
  </div>
  <!-- footer -->
  {include file=common/foot.html}