  <div class="layui-footer">
    <!-- 底部固定区域 -->
    &copy; <a href="http://47.93.235.72:81/" target="_blank">http://47.93.235.72:81/</a> - <a href="" target="_blank">兰百合家政培训</a>
  	<span class="layui-hide-xs">{pboot:runtime}</span>
  </div>
</div>

<script type="text/javascript" src="{APP_THEME_DIR}/layui/layui.all.js?v=v2.4.5"></script>
<script type="text/javascript" src="{APP_THEME_DIR}/js/comm.js?v=v1.3.6"></script>
<script type="text/javascript" src="{APP_THEME_DIR}/js/mylayui.js?v=v1.3.5"></script>


<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</body>
</html>
