<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>兰百合家政培训</title>
	<meta name="description" content="" />
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" href="{pboot:sitetplpath}/layui/css/layui.css">
	<link rel="stylesheet" href="{pboot:sitetplpath}/css/test.css">
	<script>
        (function (window, document) {
            function resize() {
                var ww = window.innerWidth;
                if (ww > window.screen.width) {
                    window.requestAnimationFrame(resize);
                } else {
                    if (ww > 1366) ww = 1366;
                    // 下面代码按照比例为100px = 1rem，此处一定要同pxToRem的转换比例
                    document.documentElement.style.fontSize = ww * 100 / 1366 + 'px';
                }
            }
            if (document.readyState !== 'loading') {
                resize();
            } else {
                document.addEventListener('DOMContentLoaded', resize);
            }
            window.addEventListener('resize', resize);
        })(window, document);
	</script>
</head>

<body>
<!-- 低版本浏览器提示 -->
<!--[if lt IE 7]>
<p class="browsehappy">
	You are using an <strong>outdated</strong> browser. Please
	<a href="#">upgrade your browser</a> to improve your experience.
</p>
<![endif]-->
<!-- 正文开始 -->
<div class="top-box">
	<div class='top-tips-nav layui-clear'>
		<div class="hello-text fl"> 欢迎来到兰百合家政～</div>
		<ul class="layui-nav tip-nav fr" lay-filter="">
			<li class="layui-nav-item" lay-unselect><a href="">网站地图</a></li>
			<li class="layui-nav-item" lay-unselect><a href="">收藏本站</a></li>
			<li class="layui-nav-item" lay-unselect><a href="">在线留言</a></li>
			<li class="layui-nav-item end-item" lay-unselect><a href="">联系我们</a></li>
		</ul>
	</div> <!-- end-top-nav -->
	<hr class="top-line">
	<div class="top-icon-box">
		<div class="tel-info-box  box-style">
			<img src="{pboot:sitetplpath}/images/tel-icon.png" alt="联系电话">
			<ul class="tel-box">
				<li class="tel-item">服务热线：<span>0731-83387873</span></li>
				<li class="tel-item">客户专线：<span>15211039800</span></li>
			</ul>
		</div>
		<div class="logo">
			<img src="{pboot:sitetplpath}/images/logo.png" alt="logo">
		</div>
		<div class="local-info-box box-style">
			<img src="{pboot:sitetplpath}/images/local-icon.png" alt="联系电话">
			<ul class="tel-box">
				<li class="tel-item">长沙市岳麓区银盆南路<br> 20号溁湾镇新外滩</li>
			</ul>
		</div>
	</div>
	<!-- nav -->
	<ul class="layui-nav nav-box" lay-filter="">
		<li class="layui-nav-item active" lay-unselect><a href="">首页</a></li>
		{pboot:nav num=10 parent=0}
		<li class="layui-nav-item" lay-unselect><a href="[nav:link]">[nav:name]</a></li>
		{/pboot:nav}
		<!--<li class="layui-nav-item" lay-unselect><a href="">培训项目</a></li>-->
		<!--<li class="layui-nav-item" lay-unselect>-->
		<!--<a href="javascript:;">教学视频</a>-->
		<!--</li>-->
		<!--<li class="layui-nav-item" lay-unselect><a href="">师资力量</a></li>-->
		<!--<li class="layui-nav-item" lay-unselect><a href="">学员风采</a></li>-->
		<!--<li class="layui-nav-item end-item" lay-unselect><a href="{pboot:sitetplpath}/about_us.html">关于我们</a></li>-->

	</ul>
</div><!-- end top-->