// 移动端样式处理
@function rem($px) {
  @return $px / 100 + rem;
}
$main-color: #7f2974;
$c99: #999999;
$c66: #666666;
$cff: #ffffff;
/*小屏幕*/
html{
  font-size:27.4px;
}
body{
  background-color: #fff;
  padding-top: 70px;
}
// 隐藏顶部小导航
.top-box{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.05);
  height: 70px;
  overflow: hidden;
  transition: 0.3s;
  .top-tips-nav,.top-line,.top-icon-box{
    display: none;
  }
  .mobile-nav{
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
    .mobile-logo{
      line-height: 80px;
      width: 50px;
      height: 50px;
    }
    button {
      width: 25px;
      height: 30px;
      position: absolute;
      top: 25px;
      right: 15px;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      span{
          display: block;
          width: 25px;
          height: 2px;
          background:$main-color;
          margin-bottom: 6px;
          transition: 0.5s;
          &.spa1 {
            transform: rotate(45deg);
          }
          &.spa3 {
            transform: rotate(-45deg) translate(5px,-6px);
        }
      }
   }
  }
  .nav-box{
    width: 100%;
    padding: 0 20px;
    .layui-nav-item{
      display: block;
      margin-bottom: 10px;
      &.active{
        border-bottom: 1px solid $main-color;
      }
      a{
        font-size: 16px;
        line-height: 22px;
        margin-right: 0;
      }
    }
  }
}
.project-box .project-content{
  padding: rem(60) rem(30);
  text-align: center
}
.project-box .project-content .content-item{
  width: 50%;
  height: rem(690);
  margin-right: 0;
  p{
    font-size: rem(48);
  }
}
.project-box p.info-slogan{
  font-size: rem(52);
  padding: 0 rem(30);
  margin: rem(80) auto rem(100);
}
.project-box .project-content .content-item img{
  width: rem(550);
  height: rem(550);
}
.project-box .project-info-box .info-item{
  display: inline-block;
  width: rem(410);
  height: rem(540);
  margin-right: rem(30);
  .nums-text{
    width: rem(65);
    height: rem(75);
    top:rem(-38);
  }
  .item-title{
    font-size: rem(50);
  }
  p{
    font-size: rem(48);
    line-height: rem(60);
    padding-top: rem(40);
  }
}
.project-box .project-info-box{
  text-align: center;
  padding:rem(70) 0 0;
  font-size: 0;
}
.video-box{
  .video-content-box{
    width: 100%;
    padding:0;
    height: auto;
    .video-container{
      width: 100%;
      height: rem(800);
    }
    .video-list{
      width: 100%;
    }
    .video-container,.video-list{
      display: block;
    }
  }
}
// 服务项目
.server-box .server-tab{
  height: auto;
  width: 100%;
  padding:rem(60) rem(20) rem(65);
  .item-box{
    text-align: center;
  }
  .item-box .server-item-info{
    width: 32%;
    height: rem(680);
    margin-right: 5px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.server-box .server-tab .tab-title-box{
  height: rem(150);
  text-align: center;
}
.server-box .server-tab .tab-title-box li {
  border:1px solid #E9709B;
  width: auto;
  line-height: rem(100);
  font-size:rem(52);
  margin-right: rem(60);
  border-radius: rem(60);
}
.server-box .server-tab .item-box .server-item-info .server-item-blank p.title{
  font-size: rem(50);
  margin: rem(40) 0 rem(30);
}
.server-box .server-tab .item-box .server-item-info .server-item-blank p.server-info-text{
  font-size: rem(45);
  line-height: rem(60);
}
.server-box .server-tab .item-box .server-item-info .server-item-blank{
  height: rem(360);
}
// 师资
.teacher-box{
  overflow: hidden;
}
.teacher-box .teacher-content{
  padding: 0 rem(80);
  text-align: center;
}
.teacher-box .teacher-content .teacher-item{
  width: 50%;
  height:rem(800);
  margin-right: 0;
  padding-right: 4px;
  margin-bottom: rem(60);
}
.teacher-box .teacher-content .teacher-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.teacher-box .teacher-content .teacher-item:nth-of-type(even) {
  top:0;
  padding-left: 4px;
  .teacher-info{
    left: 4px;

  }
}
.teacher-box .teacher-content .teacher-item .teacher-info{
  right: 4px;
  width: auto;
}
.teacher-box .teacher-content .teacher-item .teacher-info .t-name{
  font-size: rem(54)
}
.teacher-box .teacher-content .teacher-item .teacher-info .t-text{
  font-size: rem(44);
  height: 80px;
  text-overflow: clip;
  overflow: hidden;
}
.teacher-box .teacher-content .teacher-item .teacher-info .t-btn{
  width: rem(210);
  line-height: rem(60);
  font-size: rem(40);
  border-width: 1px;
  border-radius: rem(20)
}
// student
.m-student-box{
  text-align: center;
  padding: 0 rem(80);
  margin-top: rem(200);
  .m-student-item{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.05);
    position: relative;
    height: rem(760);
    padding: rem(200) 10px 0;
    box-sizing: border-box;
    margin-bottom: rem(120);
    background-color: #ffffff;
    .student-name{
      margin-bottom: rem(15);
    }
    .student-text{
      height: 96px;
      overflow: hidden;
    }
    .student-head{
      background-color: #fff;
      width: rem(200);
      height: rem(200);
      border-radius: 50%;
      border: 2px solid #E9709B;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top:rem(-100); 
    }
    .student-group{
      position: absolute;
      left:0;
      right: 0;
      bottom:10px;
      font-size: rem(55);
      color: $main-color;
    }
  }
}
// 服务内容页面
.server-banner-box,.us-banner-box{
  height: rem(400);
  span{
    font-size: rem(38)
  }
  p{
    font-size: rem(56)
  }
}
.server-container{
  padding: rem(80) rem(30);
  overflow: hidden;
}
.server-container .server-nav{
  float: left;
  width: 20%;
  margin-right: 0;
  padding-right: rem(30);
  box-sizing: border-box;
}
.server-container .server-nav ul li{
  font-size: rem(50)
}
.server-container .server-content {
  float: right;
  width: 80%;
  font-size: rem(46);
  padding: rem(30);
  img{
    max-width: 100%;
  }
}

// 关于我们页面
.us-container{
 padding: 0 rem(60);
}
.us-info-title{
  font-size: rem(60);
  line-height: rem(130);
}
.address-box{
  padding:rem(60);
  img{
    width: 100%;
  }
  .address-img{
    display: block;
    width: 100%;
  }
  .company-info-box{
    margin-top: rem(80);
    display: block;
    p.info-title{
      width: 100%;
      font-size: rem(55);
    }
  }
}
.address-box .company-info-box ul li p{
  font-size: rem(52);
}
.address-box .company-info-box ul li i{
  width: rem(80);
  margin-right: rem(30);
  &.icon-tel{
    height: rem(94);
    background-size: contain;
  }
  &.icon-loc{
    height: rem(74);
    background-size: contain;
  }
  &.icon-phone,&.icon-email,&.icon-www{
    height: rem(68);
    background-size: contain;
  }
}