@charset "UTF-8";
/*小屏幕*/
html {
  font-size: 100px;
}

body {
  padding-top: 70px;
}

.top-box {
  height: 70px;
  overflow: hidden;
  transition: 0.3s;
}

.top-box .top-tips-nav, .top-box .top-line, .top-box .top-icon-box {
  display: none;
}

.top-box .mobile-nav {
  position: relative;
  padding: 10px 15px;
  box-sizing: border-box;
}

.top-box .mobile-nav .mobile-logo {
  line-height: 80px;
  width: 50px;
  height: 50px;
}

.top-box .mobile-nav button {
  width: 25px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.top-box .mobile-nav button span {
  display: block;
  width: 25px;
  height: 2px;
  background: #7f2974;
  margin-bottom: 6px;
  transition: 0.5s;
}

.top-box .mobile-nav button span.spa1 {
  transform: rotate(45deg);
}

.top-box .mobile-nav button span.spa3 {
  transform: rotate(-45deg) translate(5px, -6px);
}

.top-box .nav-box {
  width: 100%;
  padding: 0 20px;
}

.top-box .nav-box .layui-nav-item {
  display: block;
  margin-bottom: 10px;
}

.top-box .nav-box .layui-nav-item.active {
  border-bottom: 1px solid #7f2974;
}

.top-box .nav-box .layui-nav-item a {
  font-size: 16px;
  line-height: 22px;
  margin-right: 0;
}

.project-box .project-info-box .info-item {
  display: inline-block;
}

.project-box .project-info-box {
  text-align: center;
  padding: 0.7rem 0 0;
}
